* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, sans-serif;
  }
  
  .display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    color: rgb(230, 123, 192);
    border-radius: 4px;
    background-color: rgb(60, 80, 100);
  }
  
  #calculator {
    padding: 24px;
    width: 300px;
    height: 400px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid rgb(246, 243, 243);
    background-color: #efeaea;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .row:last-child::before {
    width: 40px;
    height: 40px;
  }
  
  .button {
    padding: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #ef98f5;
    border-radius: 4px;
    border: 2px solid rgb(194, 50, 220);
  }